.container1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 30px;
  padding: 10px;
  width: 100%;
  height: 100%;
  max-width: 511px;
  border-right: none;
  border-top: none;
}

.bodyContainer {
  flex: 3;
  max-width: 511px;
  word-break: break-word;

  /* Manejo de palabras largas */
  p {
    margin: 0;
  }
}

@media(max-width:400px) {
  .description {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    word-wrap: break-word;
  }
}

@media (max-width: 780px) {
  .container1 {
    flex-direction: column;
    align-items: center;
  }

  .container2 {
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;

  }

  .periodeContainer {
    width: 100%;
  }

  .bodyContainer {
    max-width: 100%;
  }
}