.overlay{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modall{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(36, 36, 41);
    padding: 3rem;
    width: 450px;
    max-width: 60%;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px black;
}