@media(max-width:840px) {
    .nav-btns-container {
        display: none;
    }

    .login-container {
        display: none;

    }


    .thema-btn {
        display: block;
    }
}

@media(min-width:840px) {
    .btn-mobile {
        display: none;
    }
}